<h1> <%= @renter.name %> </h1>
<h2> username: <%= @renter.username %> </h2>
<h2> motto: <%= @renter.motto %> </h2>
<h2> if i was a train: <%= @renter.train %> </h2>




<br>

<%= @renter.username %>'s reviews: <% @renter.reviews.each do |review| %>
<p>landlord: <%= link_to "#{review.landlord.name}", landlord_path(review.landlord.id) %> </p>
<p> <%= "#{review.comment}" %> </p>
<% end %>
<br>

leases: <% @renter.leases.each do |lease| %>
<p> <%= link_to lease.location, landlord_path(lease.landlord_id) %> </p>
<% end %>

<%= button_to "edit renter", edit_renter_path, method: :get %>
<br>
<%= button_to "renters index", renters_path, method: :get %>
<br>
<%= button_to "start new lease", new_lease_path, method: :get %>
