
<div class=box>
    <h1> <%= @renter.name %> </h1>

    <h3> 
        <p> username: <%= @renter.username %> </p>
        <p> motto: <%= @renter.motto %> </p>
        <p> if i was a train: <%= @renter.train %> </p>
    </h3>

    <h3>
        <%= @renter.username %>'s lease: <% @renter.leases.each do |lease| %>
        <p>landlord: <%= link_to "#{lease.landlord.name}", landlord_path(lease.landlord.id) %> </p>
        <p> address: <%= "#{lease.location}" %> </p>
        <% end %>
    </h3>

    

    <% if @renter == @current_renter %>
    <%= button_to "edit renter", edit_renter_path, method: :get %>
    <% end %>
</div>

<div>
    <br>

    <%= @renter.username %>'s reviews: <% @renter.reviews.each do |review| %>
    <p>landlord: <%= link_to "#{review.landlord.name}", landlord_path(review.landlord.id) %> </p>
    <p> <%= "#{review.comment}" %> </p>
    <% end %>

    <br>

    leases: <% @renter.leases.each do |lease| %>
    <p><%= link_to lease.location, landlord_path(lease.landlord_id) %> </p>
    <% end %>

    <% if @renter == @current_renter %>
    <%= button_to "edit renter", edit_renter_path, method: :get %>
    <% end %>

    leases: <% @renter.leases.each do |lease| %>
    <p><%= link_to lease.location, landlord_path(lease.landlord_id) %> </p>
    <% end %>

</div>
