<h1> new landlord form </h1>

<br>
<br>

<%= form_for @landlord do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :user_type %>
    <%= f.text_field :user_type %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "submit" %>
<% end %>
