<h1> <%= @landlord.name %> (Landlord) </h1>
 <%= @landlord.username %> </h2>
<img src="<%= @landlord.img_url %>" alt="<%= @landlord.img_url%>">
<h2> username: <%= @landlord.username %> </h2>
<h2> location: <%= @landlord.location %> </h2>
<h2> favorite tool: <%= @landlord.tool %> </h2>
<h2> main hustle: <%= @landlord.hustle %> </h2>

shady rating: <%= @landlord.average_rating %>

<br>

reviews: <% @landlord.reviews.each do |review| %>
<p> <%= link_to review.renter.name, renter_path(review.renter.id) %> </p>
<p> <%= review.comment %> </p>
<p> shady-ness rating: <%= review.rating %></p>
<% end %>

<br>

my tenets: <% @landlord.leases.each do |lease| %>
    <p> <%= link_to lease.renter.name, renter_path(lease.renter.id) %> </p>
<% end %>

<%= button_to "landlords index", landlords_path, method: :get %>
<br>
<%= button_to "start new lease", new_lease_path, method: :get %>
<br>
<%= button_to "leave a review", new_review_path, method: :get %>
