<!DOCTYPE html>
<html>
  <head>
    <title>Titlewewontmoveforwardwith</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=  stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#  javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless controller_name == "homepages" || action_name == "login"%>
   <nav>
      <ul>
        

       
         
       
        

        <% if renter_logged_in? %>
      
          <li class="nav-tabs first-tab"><%= button_to "renters", renters_path, method: :get%></li>
          <li class="nav-tabs"><%= button_to "landlords", landlords_path, method: :get %></li>
          <li class="nav-tabs right"><%= button_to @current_renter.username, renter_path(@current_renter), method: :get %></li>
          <li class="nav-tabs right"><%= button_to "logout", logout_path, method: :delete %></li>
    
        <% end %>

      </ul>
    </nav>
  <% end %>
  


    <%= yield %>
  </body>
</html>
